<div class="header-inicial">
    <div class="company" routerLink="/myproject">
        <img src="./assets/logo-reduzido.png" class="logo-img">
        <p class="cia-name">Skillz</p>
    </div>
    <div class="pages">
        <a href="#" (click)="clicked = !clicked" routerLink="/myproject"
            [ngClass]="{'pg-link': true, 'sublinhado': clicked}"> Meus projetos</a>
        <a href="#" class="pg-link" routerLink="/community">Comunidade</a>
        <a href="#" routerLink="/plans" class="pg-link">Planos</a>
    </div>
    <div class="search-bar">
        <form action="#" method="post">
            <input type="text" class="search-box-input lupa" name="busca" placeholder="Encontre o projeto ideal">
        </form>
    </div>
    <div>
        <a href="" routerLink="/user"><img class="usr-img" src="../../assets/profile-user 1.png" sublinhadoalt=""></a>
    </div>
</div>