<div class="header-inicial">
    <div class="company" routerLink="/">
        <img src="./assets/logo-reduzido.png" class="logo-img">
        <p class="cia-name" routerLink="/">Skillz</p>
    </div>

    <div class="buttons">
        <button class="btn-null" routerLink="/login">Acesse</button>
        <button class="btn-fill" routerLink="/cadastro">Cadastro</button>
    </div>
</div>

<div class="body">
    <div>
        <h1>
            Eleve suas Skillz. Seja notado.
        </h1>
    </div>
    <div class="text-info">
        <span>
            Explore o conhecimento tecnológico mais atual com orientação especializada e feedback personalizado.
            Junte-se à nossa comunidade de aprendizes e desenvolva habilidades através de projetos práticos que fazem a
            diferença.
        </span>
    </div>
    <div class="body-button">
        <div>
            <button class="btn1" routerLink="/cadastro">
                Teste grátis
            </button>
        </div>
    </div>
</div>